@model AirlineInvoice.Models.UserChangePasswordModel
@{
    ViewBag.Title = "THAY ĐỔI MẬT KHẨU";
}
<script type="text/javascript">
    function checkChangePass() {
        var isValid = true;
        var strError = "";
        // neu doi mat khau
        if ($("#txtOldPass").val() == "") {
            strError = "Bạn chưa nhập mật khẩu hiện tại";
            alert(strError);
            $("#txtOldPass").focus();
            return false;
        }
        else if ($("#txtNewPass").val() == "") {
            strError = "Bạn chưa nhập mật khẩu mới";
            alert(strError);
            $("#txtNewPass").focus();
            return false;
        }
        else if ($("#txtNewPass").val() != $("#txtConfirmPass").val()) {
            strError = "Nhập lại mật khẩu không đúng";
            alert(strError);
            $("#txtConfirmPass").focus();
            return false;
        }
        $("#lblError").html(strError);
        if (!isValid) $("#lblError").show();
        else $("#lblError").hide();
        return isValid;
    }

    $(document).ready(function () {
        setTimeout(function () {
            // Check xem co phai invalid password hay khong
            if ($("#txtOldPass").val() != "") {
                $("#change-pass").show();
                $(sender).val("Hủy");
                alert("Mật khẩu không đúng");
            }
        }, 500);
    });
</script>

<section class="section main pageDetail">
    <h2 class="rs titlePage">Đổi mật khẩu</h2>
    <div id="lblError" style="color:red;display:none;"></div>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl, autocomplete = false }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserName)
        <div class="row">
            <div class="col-xs-3">
                <label> Người dùng</label>
            </div>
            <div class="col-xs-9">
                @Html.Label(@Model.UserName, new { style = "width:100%;color:red", id = "txtUser" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>

        <div id="change-pass">
            <div class="row" style="margin-top: 4px;">
                <div class="col-xs-3">
                    <label>Mật khẩu hiện tại</label>
                </div>
                <div class="col-xs-9">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "inputText", id = "txtOldPass" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>
            <div class="row" style="margin-top: 4px;">
                <div class="col-xs-3">
                    <label>Mật khẩu mới</label>
                </div>
                <div class="col-xs-9">
                    @Html.PasswordFor(m => m.NewPassword, new { @class="inputText", id = "txtNewPass" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
            <div class="row" style="margin-top: 4px;">
                <div class="col-xs-3">
                    <label>Nhập lại</label>
                </div>
                <div class="col-xs-9">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "inputText", id = "txtConfirmPass" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
        </div>

        <br />
        <div class="row" style="margin-top: 4px;">
            <div class="col-xs-3">
                <button type="submit" onclick="return checkChangePass();" value="Log in" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
